:root {
  --background-image: linear-gradient(
    to right,
    rgb(60, 109, 178),
    rgb(61, 113, 72),
    rgb(122, 95, 176),
    rgb(67, 14, 11)
  );
}

body {
  font-family: "Chalkboard", Arial, Helvetica, sans-serif;
  font-size: min(16px);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

header {
  background-image: var(--background-image);
}

nav {
  text-align: center;
}

p {
  max-width: 900px;
  text-align: justify;
}
.list {
  max-width: 900px;
  text-align: justify;
  margin-left: 3%;
  list-style: disc;
  display: list-item;
  font-size: min(16px);
}

h1 {
  color: rgb(67, 14, 11);
  text-align: center;
}

h2 {
  color: rgb(67, 14, 11);
}

h3 {
  color: rgb(67, 14, 11);
}

a {
  text-decoration: none;
}

a.navbar {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

a.navbar:hover {
  background-color: rgb(67, 14, 11);
}

a.link {
  color: white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: font-size 0.3s ease;
}

a.link:hover {
  font-size: 20px;
}

.centered-links {
  text-align: center;
}

.grid-container {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 0;
  padding-bottom: 5px;
}

.grid-item {
  padding: 2px;
}

.image-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.centered-content {
  text-align: left;
  max-width: 900px;
  padding: 0 10px;
}

.mini-image-container {
  max-width: 100%;
  height: auto;
}

.mini-image-container img {
  max-width: 100%;
  max-height: auto;
}

.image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.image-wrapper img {
  max-width: 20%;
  height: auto;
  margin-right: 20px;
  margin-top: 5px;
}

.mini-image-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.mini-image-wrapper img {
  max-width: 10%;
  height: auto;
  margin-right: 20px;
  margin-top: 5px;
}

.text-content {
  overflow: hidden;
}

.page-break {
  page-break-after: always;
  height: 5px;
  background-image: var(--background-image);
}

.finn-color {
  color: rgb(60, 109, 178);
}

.woodward-color {
  color: rgb(61, 113, 72);
}

.neary-color {
  color: rgb(122, 95, 176);
}

.trottier-color {
  color: rgb(67, 14, 11);
}

.centered-links {
  align-items: center;
}

.position-description {
  ul {
    list-style: circle;
  }
}
